.header {
    width: 100vw;
    height: 7rem;
}

.nl-einnahmen {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.nl-einnahmen-item {
    flex: 1 0 18rem;
}

.nl-prev-next-btn-group {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.callout {
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--bs-primary-bg-subtle);

}

.callout-danger {
    background: var(--bs-danger-bg-subtle) !important;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}
