{% extends 'main.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}
    Antrag auf Notlagenzuschuss
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.is_staff %}
            Du bekommst sicher irgendwann ein hübsches Portal. <br>
            Anzahl neuer Anträge seit letztem Login:
        {% else %}
            <div class="nl-display-mid">
                <h1>Einen neuen Antrag stellen</h1>
                <a href="{% url 'new_application' %}" class="btn btn-primary btn-lg"> -></a>
            </div>
        {% endif %}
    {% else %}
        <h1>Antrag auf Notlagenzuschuss</h1>

        <p> Herzlich willkommen auf dem Antragsportal des Sozialreferats der Studierendenvertretung der Universität
            Heidelberg. Hier kannst du einen Antrag auf Notlagenzuschuss stellen. Dazu benötigst du ein Konto:
            <a href="{% url 'register' %}">Registrieren</a>.
        </p>
    {% endif %}


{% endblock %}